html {
  -webkit-tap-highlight-color: #ffffff00;
}
.app {
  text-align: center;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  user-select: none; /* Verhindert das Selektieren und Kopieren von Text */
  cursor: default;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__quiz {
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  color: white;
  margin: 5px;
}

.quiz__card {
  animation: example 0.5s linear;
  cursor: pointer;
  font-size: 8rem;
  border-radius: 20px;
  padding: 9px;
  max-height: 170px;
  width: 140px;
  margin: 5px;
}
.suche {
  max-height: 100%;
  max-width: 380px;
  font-size: 8rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}
.suche__bilder {
  margin-top: 0px;
  width: 100%;
  max-height: 230px;
  border: 5px solid rgb(237, 210, 103);
}
.Buchstaben {
  color: rgb(56, 42, 42);
  text-align: center;
  border-radius: 20px;
  background-color: white;
  border: 5px solid rgb(244, 174, 174);
}
@keyframes example {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.suche {
  font-size: 5rem;
  cursor: pointer;
}

.finalResults {
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.emoji {
  height: 250px;
  animation: emoji 2s linear;
}
@keyframes emoji {
  0% {
    transform: translate(100px, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
